h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h2, h3, h4, h5, h6 {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
}
.navigation {
	color: #000000;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.text {
	color: #003366;
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-transform: none;
}
.header {
	color: #0d768f;
	font-weight: bold;
	font-size: 22px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
}
.section {
	color: #0d768f;
	font-weight: bold;
	font-size: 18px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
}

INPUT { font-size: 11px; }
.micetypegray {
	color: #0d768f;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.textgray,
p, td, li {
	color: #003366;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.textgray:link { color: #003366; }
.textgray:visited { color: #003366; }
.textgray:hover { color: #cc6600; }
.textgray:active { color: #cc6600; }
.micetypewhite {
	color: #ffffff;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.headabout {
	color: #0d768f;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navabout {
	color:#0d768f;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.headalumni {
	color: #006666;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navalumni {
	color: #cc9933;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.headfuture {
	color: #990000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navfuture {
	color: #cc6600;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.headcurrent {
	color: #cc9933;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navside {
	color: #003366;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navside2 {
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #003366;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: bottom;
	cursor: hand;
	height: 20px;
}
ul.stTools {
	color:#FFF;
	color: #0d768f;
	margin: 35px 0 4em 0;
	padding:0;
}

ul.stTools li {	
	list-style: none;
	color:#FFF;
	padding: 0;
	margin: 0;
}
ul.stTools a:link,
ul.stTools a:visited,
ul.stTools a:active,
ul.stTools a:hover {
	text-decoration: none;
	color: #036;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 2px 5px  10px;
	display: block;
}
ul.stTools a:hover {
	background-color: #c93; 
	color: #fff;
}

blockquote { margin: 5px 15px; }

/* template styles */

body.toolbox {
	margin: 0;
	padding:0;
	background-color:#0d768f;
}

td.colLeft {
	color:#fff;
	width: 200px;
	background-color: #c8dde3;
	vertical-align: top;
}
td.colContent {
	color:#fff;
	width: 550px;
	vertical-align: top;
	padding-top: 25px;
}
td.colMargin {
	width: 25px;
}
td.colRight {
	width: 125px;
	vertical-align: top;
}


.closeButton {
	text-align: right;
}
#sectionTitle {
	width: 1000px;
	background:#0d768f;
}
#sectionTitle h1 {
	color: #0d768f;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 2px 2px 25px;
	margin: 0;
	background:#fff;
}

#header {
	width: 1000px;
	background-color: #0d768f;;
}
#header .colLogo {
	background:	#0d768f;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#header .colMain {
	width: 569px;
	text-align: right;
	vertical-align: bottom;
}
div.closeButton {
	padding-right: 10px;
	padding-bottom: 10px;
}

#footer {
	width: 1000px;
	background-color: #fff;
}

th {
	color: #000;
	text-align:left;
}

p.topLink {
	text-align: right;
	font-style: italic;
}